/* src/components/ExpertiseItem.css */
.ExpertiseItem {
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 8px;
    text-align: left;
    width: 300px;
    margin: 1rem;
  }
  
  .ExpertiseItem .icon {
    font-size: 3rem;
    color: #fff;
  }
  
  .ExpertiseItem h3 {
    margin: 1rem 0;
  }
  
  .ExpertiseItem p {
    margin: 0;
    color: #bbb;
  }
  