/* src/components/Navbar.css */
.Navbar {
  display: flex;
  justify-content: center; /* Center the navbar horizontally */
  padding: 1rem;
  background-color: #000;
  width: 100%; /* Ensure it takes up the full width */
}

.Navbar .nav-items {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.Navbar .logo {
  color: #00f;
}
