/* src/components/ExperienceSection.css */
.ExperienceSection {
    padding: 2rem;
    background-color: #121212;
    color: #fff;
    text-align: center;
  }
  
  .experience-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  