/* src/components/ProjectItem.css */
.ProjectItem {
    background-color: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px;
    text-align: left;
  }
  
  .ProjectItem img {
    width: 100%;
    height: auto;
  }
  
  .project-info {
    padding: 1rem;
  }
  
  .project-info h3 {
    margin: 0;
  }
  
  .project-info p {
    color: #bbb;
  }
  